:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #101000;
  --color-yellow: #ffff22;

  --border-radius-small: 3px;
} 

body {
  background-color: var(--color-dark);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
